<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Registrierung Student</title>
</head>
<body>
    <h1>Registrierung für Studenten</h1>
    
    <!-- Flash Messages Block -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
<!-- End Flash Messages Block -->
 <!-- https://ttl255.com/jinja2-tutorial-part-5-macros/ für jinja2 Macro Erklärung und Tutorial -->
    <!-- Macro Definition -->
    {% macro render_field(field) %}
      <p>
        {{ field.label }}<br>
        {{ field(size=32) }}
        {% if field.errors %}
          <br>
          {% for error in field.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        {% endif %}
      </p>
    {% endmacro %}

    <form method="POST">
        {{ form.hidden_tag() }} <!-- WICHTIG: CSRF Token -->
        
        <!-- Nutzung des Macros -->
        {{ render_field(form.university) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>